<div class="container" id="contenedor">
    <div class="row justify-content-md-around" id="App">
        <div class="col-md-4 mt-5 border rounded bg-white">
            <h3 class="p-2">Hola {{user.nombre}}</h3>
            <h6 class="border-top p-2"><i class="fas fa-user mr-3"></i>Informacion Personal</h6>
            {{#profile user.rol}}
            {{/profile}}
            <h6 class="border-top p-2"><i class="fas fa-car mr-3"></i>Reservas</h6>
            <h6 class="border-top p-2"><i class="fas fa-sign-out-alt mr-3"></i>Cerrar Sesion</h6>
        </div>
        <div class="col-md-6 mt-5 border rounded bg-white">
            <h3 class="border-bottom p-2">Informacion Personal</h3>
            <div class="row">
                <div class="col-md-5 mb-4">
                    <img src="img/{{user.img}}" class="rounded-circle img-fluid mb-2">
                    <button class="btn btn-success btn-block" onclick="Profile.avatar('{{user._id}}')">Subir Imagen</button>
                </div>
                <div class="col-md-7 mt-3">
                    <p class="border-bottom">Nombre: {{user.nombre}}</p>
                    <p class="border-bottom">Apellido: {{user.apellido}}</p>
                    <p class="border-bottom">Email: {{user.email}}</p>
                    <p class="border-bottom">Rol: {{user.rol}}</p>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="img-user" lang="es">
                        <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>
<script type="module" src="js/profile.js"></script>